---
title: Etusivu
layout: frontpage
section: Blog
date: 2015-05-22
og_type: blog
---
  {% comment %} {% include stickypostatfrontpagetop.html %}{% endcomment %}
  <!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% unless post.draft == true %}
  	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ post.title | escape }}
        <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d.%m.%Y" }}</time>
        
      </h1>
      <p class="post-meta">
<!-- 	        <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time> -->
          {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ post.author }}</span>
        </span>{% endif %}
      </p>
    </header>
        <div class="post-content" itemprop="articleBody">
	    {{ post.excerpt }}
      </div>

      <div class="stats">
          <!-- This gets populated by script below -->
          <span class="comments-count">&nbsp;</span>
      </div>
			
  		<a class="post" href="{{ post.url | remove:'.html' | escape }}">
    			<div class="continue">Lue lis&auml;&auml; &rarr;</div>
    	</a>
    				
	    </article>
	    {% endunless %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Edellinen</a>
      {% else %}
        <span class="previous">Edellinen</span>
      {% endif %}
      <span class="page_number ">sivu {{ paginator.page }} ( {{ paginator.total_pages }} )</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Seuraava</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
    
    <!-- TEMP HACK this whole thing feels quite hacky. wish there were easier ways. -->
    <script>
        // iterate over all the posts above and grab their (absolute) URLs:
        var posts = document.querySelectorAll('article > a.post');
        var postURLs = [];
        for (var i = 0; i < posts.length; i++) {
            postURLs.push('{{ site.url }}' + posts[i].getAttribute('href'));
        }
        // callback function for the next JSONP request:
        function updateCommentsCounts(objs) {
            var commentsCountSpans = document.querySelectorAll(".comments-count");
            for (var i = 0; i < postURLs.length; i++) {
                var num = objs[postURLs[i]].comments;
                commentsCountSpans[i].innerHTML =
                    num ? (num + " comment" + (num > 1 ? 's' : '')) : "No comments";
            }
        }
        // fetch the # of comments for each post as a single batch request:
        document.write([
            '<script src="https://graph.facebook.com/?ids=',
            encodeURIComponent(postURLs.join(',')),
            '&callback=updateCommentsCounts"></',
            'script>'
        ].join(''));
    </script>

    <script defer="defer"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script defer="defer"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.min.js"></script>
    <script defer="defer"  src="/scripts/vendor/googleanalytics.js"></script>
    <script defer="defer"  src="/scripts/script.js"></script>
  
    <script type="text/javascript">
      if (typeof jQuery == 'undefined') {
          document.write(unescape("%3Cscript src='/scripts/vendor/jquery-1.11.3.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
      if (typeof NivoSlider == 'undefined') {
          document.write(unescape("%3Cscript src='/scripts/vendor/jquery.nivo.slider.pack.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>