<div class="sixteen columns">
    <div class="slider-wrapper theme-default">
       <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <img alt="" src="images/slider/slide101.jpg">
            <img alt="" src="images/slider/slide102.jpg">
            <img alt="" src="images/slider/slide_IMG_0891.jpg">
            <img alt="" src="images/slider/slide_IMG_0860.jpg">
            <img alt="" src="images/slider/slide_IMG_0901.jpg">
            <img alt="" src="images/slider/slide_0884.jpg">
            <img alt="" src="images/slider/slide_0887.jpg">
        </div>
    </div>
</div>